<div class="container__menu-bar">
  <div class="menu-bar__pages">
    <a [href]="['']">Home</a>
    <a href="#">•</a>
    <a href="#">Category</a>
    <a href="#">•</a>
    <a href="#">Subcategory</a>
  </div>
  <div class="menu-bar__user-settings">
    <div class="user-settings__username">
      <span>Username</span>
    </div>
    <div class="user-settings__img">
      <img src="https://cdn.vectorstock.com/i/preview-1x/77/30/default-avatar-profile-icon-grey-photo-placeholder-vector-17317730.jpg" alt="" />
    </div>
  </div>
</div>
